@using BlazorDatastar.Models
@using BlazorDatastar.Utils
@inject IHttpContextAccessor HttpContextAccessor

<div data-signals-confirm="0" data-on-load="@@get('/movielist')">
    <MovieTable Movies="@Movies" />
</div>

<code>
    <pre>User id: @UserId</pre>
    <pre data-json-signals></pre>
</code>

@code {
    [Parameter] public IEnumerable<(Movie movie, bool updated)> Movies { get; set; } = [];
    private string UserId => CookieHelper.GetOrCreateUserId(HttpContextAccessor.HttpContext!);
}
